*{
    box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
    background-color:rgb(210, 211, 210);
    font-size:16px;
    font-family:verdana, Arial, Helvetica, sans-serif;
}
.container{
    width:75%;
    margin:auto;
    margin-top:20px;
    padding:15px;
    background-color:rgba(255, 255, 255, 0.938);
}
#nav{
    padding:0;
}
#nav:after{
    content:"";
    display:table;
    clear:both;
}
.profile{
    float:right;
    border:1px solid rgb(0, 128, 38);
}
.nav{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#0077C1;
}
.nav li{float:left;}
.nav li a:link{
    display:block;
    color:white;
    text-align:center;
    padding:14px 30px;
    letter-spacing:2px;
    font-size:20px;
    text-decoration:none;
}
.nav li a:visited{color:rgb(230, 231, 231);}
.nav li a:hover:not(.active){background-color:rgb(3, 89, 143);}
.nav li a:active{
    background-color:hotpink;
    text-decoration:underline;
}
.active { background-color: rgb(220, 220, 255);}
h3{
    text-align:center;
    color:blueviolet;
    text-decoration:underline;
}
@media(max-width:850px){
    .container{
        width:90%;
    }
    .nav li a:link{
        padding:14px 20px;
        letter-spacing:0;
    }
}
@media(max-width:500px){
    .container{
        width:98%;
    }
    .nav li{
        width:100%;
    }
    .nav li a:link{
        letter-spacing:5px;
    }
    .profile{
        display:none;
    }
}
